
@{
    ViewData["Title"] = "Index";
}

<script>
    function test() {
        //alert("test");

        // 调web api
        var url = "/api/values/1";
        sendAjaxRequest(url, "GET", function (result) {

            alert(result);

        }, function (xhq, textStatus, errorThrown) {
            alert(errorThrown);
        });
    }
</script>

<h2>测试</h2>

<br/>
<div>
    <input id="Button1" type="button" value="API测试" onclick="test()" />
</div>
<hr/>
<div>
    <div>路径：<input id='_path' type='text' value=''></div>
    <div>
        <textarea id='_content' rows='5'></textarea>
    </div>
    <div>
        <input id="Button1" type="button" value="保存" onclick="save()" />
    </div>
</div>








